<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
	<link type="text/css" rel="stylesheet"
		href="/materialize/css/materialize.css" media="screen,projection" />
	<link type="text/css" rel="stylesheet"
		href="/materialize/css/materialize.min.css" media="screen,projection" />

<style type="text/css">
table.striped>tbody>tr:nth-child(odd) {
	background-color: rgba(158, 154, 154, 0.5);
}

form input[type=submit] {
 color: white;
}
</style>





	<title>Insert title here</title>
	
</head>

<body>
	<h5>Cadastro de menbros</h5>


	<div class="row">
		<form class="col s10" action="salvarpessoa" id="formpessoa"
			method="post" th:object="${pessoaobj}">
			<div class="row">
				<div class="input-field col s1">
					<input disabled value="I am not editable" id="disabled" type="text"
						th:field="*{id}"> <label for="id">ID</label>
				</div>
				<div class="input-field col s11">
					<input placeholder="Placeholder" id="name" name="nome" type="text"
						class="validate" th:field="*{nome}"> <label for="nome"
						class="active">Nome</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<input id="rua" type="text" name="rua" class="validate"
						th:field="*{rua}"> <label for="rua" class="active">Rua</label>
				</div>
				<div class="input-field col s2">
					<input id="bairro" type="text" name="bairro" class="validate"
						th:field="*{bairro}"> <label for="bairro" class="active">Bairro</label>
				</div>
				<div class="input-field col s2">
					<input id="numero" type="text" name="numero" class="validate"
						th:field="*{numero}"> <label for="numero" class="active">Numero</label>
				</div>
				<div class="input-field col s2">
					<input id="idade" type="text" name="idade" class="validate"
						th:field="*{idade}"> <label for="idade" class="active">idade</label>
				</div>
				<div class="input-field col s12">
					<input id="email" type="email" class="validate" th:field="*{email}">
						<label for="email" class="active">Email</label>
				</div>
			</div>
			
			<div class="row">
				<div class="input-field col s6">
					<input class="waves-effect waves-light btn" type="submit"
						value="Salvar">
						<button class="waves-effect waves-light btn"
							onclick="document.getElementById('formpessoa').reset();">Novo</button>
				</div>
			</div>

		</form>
	</div>

	<br />
	<br />



	<div class="row">
		<form action="pesquisarpessoa" method="post" class="col s12">
			<div class="row">
				<div class="input-field col s12">
					<label for="nomepesquisa" class="active">Pesquia por nome:</label>
					<input name="nomepesquisa" id="nomepesquisa" class="validate">
						<input class="waves-effect waves-light btn" type="submit"
						value="Buscar"> <a class="waves-effect waves-light btn"
							href="/listapessoas">Lista Pessoas</a>
				</div>
			</div>
		</form>
	</div>


	<table class="striped">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nome</th>
				<th>Rua</th>
				<th>Bairro</th>
				<th>Número</th>
				<th>E-mail</th>
				<th>Idade</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="pessoa : ${pessoas}">
				<td th:text="${pessoa.id}"></td>
				<td th:text="${pessoa.nome}"></td>
				<td th:text="${pessoa.rua}"></td>
				<td th:text="${pessoa.bairro}"></td>
				<td th:text="${pessoa.numero}"></td>
				<td th:text="${pessoa.email}"></td>
				<td th:text="${pessoa.idade}"></td>
				<td><a
					th:href="@{/editarpessoa/{idpessoa}(idpessoa=${pessoa.id})}">Editar</a></td>
				<td><a
					th:href="@{/removerpessoa/{idpessoa}(idpessoa=${pessoa.id})}">Excluir</a>
				</td>
			</tr>
		</tbody>
	</table>





	<script type="text/javascript" src="/materialize/js/materialize.js"></script>
	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
</body>
</html>